*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.gameInfo{
    color: white;
    font-size: 60px;
    height: 200px;
}
.gameScreen{
    background-color: white;
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
}

.userMoveImg{
    width: 50%;
    height: 70%;
    background-color: white;
    border: 3px solid black;

    
}
.computersMoveImg{
    width: 50%;
    height: 70%;
    background-color: white;
    border: 3px solid black;
}
.buttons{
    width: 60px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 50%;
    height: 10%;

}
.buttons img{
    width: 70%;
    height: 70%;
}
.userMove{
    width: 45%;
    height: 50%;
}
.restart{
    width: 45%;
    height: 50%;
}

.userMoveImg img{
    width: 50%;
    height: 80%;
    margin: auto;
    display: block;
}
.computersMoveImg img{
    width: 50%;
    height: 80%;
    margin: auto;
    display: block;
}
.results{
    color: white;
    font-size: 40px;
}

.playAgain{
    background-color: white;
    color: black;
    width: 100px;
}